*{
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white:#FFFFFF;
    --orange:#FF7616;
    --blue:#062E51;
    --gray-dark:#545454;
    --gray-light:#E5E5E5;
    --background: #F1F1F1;
}

html {
    scroll-behavior: smooth;
}

body{
    padding-top: 5rem;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--background);
}

body, input, textarea, button{
    font: 400 1rem "Quicksand", sans-serif;
}

main{
    min-height: calc(100vh - 5rem - 1.5rem);
    padding: 50px;
}

a {
    text-decoration: none;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: var(--background);
    width: 100%;
    border-radius: 0;
    height: 5rem;
    padding: 1rem 3rem 1rem 3rem;
}

.navbar-nav {
    font-size: 1.10rem;
}

.nav-link {
    font-weight: 500;
    color: var(--blue);
    text-decoration: none;
}

#home:hover {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.20rem;
    text-decoration: none;
}

#about:hover {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.20rem;
    text-decoration: none;
}

#prices:hover {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.20rem;
    text-decoration: none;
}

#contact:hover {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.20rem;
    text-decoration: none;
}

footer{
    border-top: 1px solid var(--blue);
    margin-top: 10rem;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1.5rem;
    font-size: 0.85rem;
    color: var(--white);
    background: var(--blue);
    text-align: center;
}

footer a{
    color: var(--orange);
    font-style: italic;
    font-weight: 500;
    text-decoration: none;

}

button{
    cursor: pointer;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

