body{
    font-size: 16px;
    line-height: 1.5;
    background-color: #F1F1F1;
}
  
header .navbar{
    border-radius: 0;
    margin: 0;
}
  
main{
    min-height: 500px;
    padding: 50px;
}
  
footer{
    padding: 25px;
    font-size: 14px;
    color: #BBB;
    background: #062E51;
    text-align: center;
}

.features {
    margin-right: 45%;
}

.features-items {
    padding-right: 3%;
    padding-left: 4%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
}

.bg-flamage {
    background-color: #062E51;
}

.text-flamage {
    color: #062E51;
}

.box-value {
    position: absolute;
    margin-left: 55%;
    margin-top: 9%;
    margin-bottom: 8%;
}

.disabled {
    color: rgb(133, 133, 133)
}

.value {
    padding: 30px;
}

.btn {
    background-color:#FF7616;
    color:white;
}

.container-fluid {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

span {
    font-style: italic;
    font-size: small;
}

hr {
    margin: 1px; 
}

#titulo-saiba-mais{
    color: #FF7600;
}

.texto-saiba-mais{
    text-align: justify;
    font-size: 24px;
}

#texto-titulo-saiba-mais{
    font-size: 35px;
    text-align: justify;
}

.align-saiba-mais{
    display: flex;
}

.esquerda-saiba-mais{
    width: 60%;
    margin-right: 80px;
}

.imgesp{
    margin-top: 50px;
}

.espaco{
    width: 10%;
}