<%- contentFor('body', {title: 'Saiba Mais' }) %>
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    </div>
    <div class="espaco-sections1">
    </div>

    <section class="section section-lg" id="features-2">
        <div class="row justify-content-xl-between">
            <div class="col-md-8 col-lg-7 wow fadeInLeftSmall">
                <h1 class="mb-3" style="text-align: justify; color: #FF7616;">Gerencie seu negócio de forma simples e customizada!</h1>
                <br>
                <div class="row">
                    <div>
                        <h3 class="mb-3 mt-4 mr-md-4" style="text-align: justify;">O software Flamage foi desenvolvido com o intúito de garantir
                            o gerenciamento de negócios de micro e pequenas empresas, para que não precisem arcar com
                            os caros sistemas ofertados para as grandes empresas.
                        </h3>
                    </div>
                    <div>
                        <h3 class="mb-3 mt-4 mr-md-4" style="text-align: justify;">Contamos com planos customizados para cada funcionalidade desejada
                            por nossos clientes. Faça um orçamento agora mesmo na nossa página de <a href="/prices">Preços</a>.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-5 col-xl-5 wow fadeInRightSmall">
                <figure class="item d-flex justify-content-center">
                    <div class="phone-frame-2">
                        <img src="/img/imagemzinha1.jpg" alt="microempreendedora">
                    </div>
                </figure>
            </div>
    </section>

    </div>
    <div class="espaco-sections2">
    </div>

    <section class="section section-lg" id="features-2">
        <div class="row justify-content-xl-between">
            <div class="col-md-8 col-lg-7 wow fadeInLeftSmall">
                <h2 class="mb-3">Ferramentas fáceis de utilizar, para facilitar sua vida</h2>
                <br><br><br>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6"><img src="/img/+.png" alt="+" style="height: 65px; width: 65px">
                        <div class="services-content">
                            <h3 class="mb-3 mt-4 mr-md-4">Registre receitas e despesas</h3>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6"><img src="/img/grafico.png" alt="grafico" style="height: 65px; width: 65px">
                        <div class="services-content">
                            <h3 class="mb-3 mt-4 mr-md-4">Gere gráficos comparativos</h3>
                        </div>
                    </div>
                    <div class="espaco-sections3"></div>
                    <div class="col-6 col-sm-6 col-md-6"><img src="/img/registro.png" alt="registro" style="height: 65px; width: 65px">
                        <div class="services-content">
                            <h3 class="mb-3 mt-4 mr-md-4">Cadastre seus serviços ou produtos</h3>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6"><img src="/img/Excel-Logo.jpg" alt="excel" style="height: 65px; width: 65px">
                        <div class="services-content">
                            <h3 class="mb-3 mt-4 mr-md-4">Exporte seus registros para uma planilha Excel</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-5 col-xl-5 wow fadeInRightSmall">
                <figure class="item d-flex justify-content-center">
                    <div class="phone-frame-2">
                        <img src="/img/prototiposm.jpg" alt="prototipo">
                    </div>
                </figure>
            </div>
        </div>
    </section>
