<%- contentFor('body', {title: 'Saiba Mais' }) %>

    <section class="container-saiba-mais">
        <div id="esquerda-saiba-mais">
            <div id="logo-saiba-mais">
            </div>
            <div id="titulo-saiba-mais">
                <h1 id="texto-titulo-saiba-mais">Gerencie seu negócio de forma simples e customizada!</h1>
            </div>
            <br>
            <div class="texto-1-saiba-mais">
                <h3 class="texto-saiba-mais">
                    O software Flamage foi desenvolvido com o intúito de garantir o gerenciamento de negócios de
                    microempreendedores, para que não precisem arcar
                    com os sistemas caros ofertados para medias e grandes empresas.
                </h3>
                <br>
            </div>
            <div class="texto-2-saiba-mais">
                <h3 class="texto-saiba-mais">
                    Contamos com planos customizados para cada funcionalidade desejada por nossos clientes. Faça um
                    orçamento agora mesmo na nossa página de
                    <a href="prices">Preços e Planos.</a>
                </h3>
            </div>
        </div>
        <div id="imagem-saiba-mais">
            <img src="/img/imagemzinha1.jpg" alt="Microempreendedora" class="img-class">
        </div>
    </section>