<%- contentFor('body', {title: 'Saiba Mais' }) %>

    <section>
        <div class="container">
            <br>
            <div class="row align-items-start">
                <div class="col">
                    <div id="titulo-saiba-mais">
                        <h1 id="texto-titulo-saiba-mais">Gerencie seu negócio de forma simples e customizada!</h1>
                    </div>
                    <br>
                    <div>
                        <h3 class="texto-saiba-mais">
                            O software Flamage foi desenvolvido com o intúito de garantir o gerenciamento de negócios de
                            microempreendedores, para que não precisem arcar
                            com os sistemas caros ofertados para medias e grandes empresas.
                        </h3>
                    </div>
                    <br>
                    <div>
                        <h3 class="texto-saiba-mais">
                            Contamos com planos customizados para cada funcionalidade desejada por nossos clientes. Faça
                            um
                            orçamento agora mesmo na nossa página de
                            <a href="prices">Preços e Planos.</a>
                        </h3>
                    </div>
                </div>
                <div class="espaco">
                </div>
                <div class="col imgesp">
                    <img src="/img/imagemzinha1.jpg" alt="Microempreendedora" width="100%" height="100%">
                </div>
            </div>
        </div>
    </section>