<%- contentFor('body', {title: 'Contato' }) %>
<link rel="stylesheet" type="text/css" href="/css/contact.css">
<h3>Encontre a gestão que seu negócio precisa!</h3>
<h3>Entre em contato com nossos especialistas.</h3>
<div id="container">  

    <div class="imgContainer">
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://wa.me/5574991539659">
            <img src="https://github.com/reuel-freitas.png" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Reuel Freitas</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://wa.me/5571993356024">
            <img src="https://github.com/fernandamullerb.png" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Fernanda Müller</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://wa.me/5571994084093">
            <img src="https://github.com/williamrobertF.png" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">William Robert</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://wa.me/5571993116437">
            <img
              src="https://github.com/CaitoCF.png"
              alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Caio Caldeira</div>
        </div>
      </div>
    </div>

    

    <form action="/contact" method="post">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Nome</label>
        <input type="text" name="firstName" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>
        <label for="exampleFormControlTextarea1" class="form-label">Sobrenome</label>
        <input type="text" name="lastName" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <label for="exampleFormControlTextarea1" class="form-label">Telefone</label>
        <input type="text" id="phone" name="phone" class="form-control" id="exampleFormControlTextarea1" rows="1"
          placeholder="(DDD) 99999-9999"></s>
        <label for="exampleFormControlTextarea1" class="form-label">Empresa</label>
        <input type="text" name="company" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea><br />


        Deseja acompanhamento com uma equipe contábil?<br/><br/> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="contador" id="cont" value="Sim">
          <span><label class="form-check-label" for="contador">
            Sim, eu desejo.
          </label>
          <a id="SaibaMais" href="#" data-bs-toggle="modal" data-bs-target="#infoModal">Saiba mais</a></span>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="contador" id="noCont" value="Nao">
          <label class="form-check-label" for="contador">
            Não, eu já tenho contador.
          </label>
        </div>
        
        <% if(typeof alert != 'undefined'){ %>
          <% alert.forEach(function(error){ %>  
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= error.msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span>X</span>  
              </button>       
            </div>
          <% }) %> 
        <% } %> 


        
        <button type="submit" class="btn btn-text" id="btnSubmit">Enviar</button>
      </div> 
    </form>

    <div id="infoModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Serviço contábil para seu micronegócio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="info">Nós FL-Managers estamos oferecendo um diferencial de mercado, todo empreendimento
              necessita de uma equipe contábil que auxilie na maior parte da burocracia enquanto o gestor
              se concentra mais no operacional para fazer seu negócio crescer. Então, para te auxiliar a aproveitar
              bem o tempo, nossa equipe contábil recolhe as informações e em reuniões semanais ou quinzenais te atualiza
              de todos os dados e de acordo com a contabilidade, fornecendo para você estratégias de como guiar teu negócio.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-text" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  
</div>
