<%- contentFor('body', {title: 'Início' }) %>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <img class="flame" src="/img/flame.png" alt="flame">
    <div class="start">
        <span>Seu negócio de forma simples e customizada.</span>
        <p>Com o Flamage é fácil assumir o controle do seu negócio. De forma simples, rápida, e do seu próprio jeito.
        </p>
    </div>

    <div id="about-section">
        <div class="show">
            <p>O software Flamage foi desenvolvido com o intuito de garantir o gerenciamento de negócios de micro e
                pequenas
                empresas, para que não precisem arcar com os caros sistemas ofertados para as grandes empresas.</p>
            <p>Contamos com planos customizados para cada funcionalidade desejada por nossos clientes. Faça um orçamento
                agora mesmo na nossa página de <a href="/prices">Preços</a>.</p>
            <img src="/img/prototiposm.png" alt="microempreendedora">
            <img src="/img/PainelPesquisa.png" alt="microempreendedora">
        </div>
    </div>

    <h2>Ferramentas fáceis de utilizar, para facilitar sua vida</h2>
    <div class="last-container">
        <div class="img-acess">
            <img src="/img/+.png" alt="+" style="height: 65px; width: 65px">
            <h3>Registre receitas e despesas</h3>
        </div>

        <div class="img-acess">
            <img src="/img/grafico.png" alt="grafico" style="height: 65px; width: 65px">
            <h3>Gere gráficos comparativos</h3>
        </div>

        <div class="img-acess">
            <img src="/img/registro.png" alt="registro" style="height: 65px; width: 65px">
            <h3>Cadastre seus serviços ou produtos</h3>
        </div>

        <div class="img-acess">
            <img src="/img/Excel-Logo.jpg" alt="excel" style="height: 65px; width: 65px">
            <h3>Exporte seus registros para uma planilha Excel</h3>
        </div>
    </div>
