<%- contentFor('body', {title: 'Início' }) %>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<img class="flame" src="/img/flame.png" alt="flame">
<div class="start">
    <span>Lorem ipsum dolor sit amet</span>
    <p>Consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. </p>
</div>

<div class="show">
    <p>Consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.</p>
    <p>Consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. </p>
    <p>Consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. </p>
</div>