<%- contentFor('body', {title: 'Preços' }) %>

    <div class="text-center">
        <h2>Monte seu Pacote</h2><br>
        <h5>Selecione as funcionalidades ideais para o seu negócio <br>
            e conte com preços compatíveis com a sua necessidade.
        </h5><br><br>
    </div>

    <div class="">

        <div class="card box-value text-center rounded-3 shadow-sm border">
            <div class="card-header bg-flamage text-white border">
                <h4 class="my-0 fw-normal h5 text-center">Mensalidade dos serviços selecionados</h4>
            </div>
            <div class="card-body">
                <h1 id="price" class="card-title pricing-card-title"></h1><h5 class="text-muted fw-light">/mês</h5>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Fale conosco e saiba mais <br>
                        sobre como podemos ajudá-lo(a)!</li>
                </ul>
                <a href="contact"><button class="btn text" type="button">Contratar</button></a>
            </div>
        </div>

        <div class=" features card shadow-sm border rounded-3">
                        <div class="card-header bg-flamage text-white border">
                            <h4 class="my-0 fw-normal h5 text-center">Lista de funcionalidades</h4>
                        </div>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Lançamento de receitas e despesas
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="1" name="feature"
                                        value="lancamento">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Consulta e impressão de receitas e despesas
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="2" name="feature"
                                        value="consulta">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Dashboard de balanço financeiro
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="3" name="feature"
                                        value="dashboard">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Personalização de formas de pagamento aceitas
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="4" name="feature"
                                        value="pagamento">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Simulação de parcelamento com taxas de juros
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="5" name="feature"
                                        value="simulacao">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11">
                                    Configuração de reserva de caixa
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="6" name="feature"
                                        value="reserva">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Permissões de acesso por usuário
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="7" name="feature"
                                        value="permissoes">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Auditoria de lançamentos, edições e exclusões
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="8" name="feature"
                                        value="auditoria">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row features-items">
                                <div class="col-md-11 enable">
                                    Plataforma personalizada com a sua marca
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="9" name="feature" value="marca">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="bg-light">
                            <div class="row features-items">
                                <div class="col-md-11 disabled">
                                    Emissão de boletos - <span>Em breve</span>
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="10" name="feature"
                                        value="boletos" disabled>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="bg-light">
                            <div class="row features-items">
                                <div class="col-md-11 disabled">
                                    Emissão de notas fiscais - <span>Em breve</span>
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="11" name="feature" value="nf"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="bg-light">
                            <div class="row features-items">
                                <div class="col-md-11 disabled">
                                    Central de cobranças - <span>Em breve</span>
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="12" name="feature"
                                        value="cobrancas" disabled>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="bg-light"> <!--Refatorar-->
                            <div class="row features-items">
                                <div class="col-md-11 disabled">
                                    Controle de estoque - <span>Em breve</span> <!--Refatorar-->
                                </div>
                                <div class="col-md-1">
                                    <input class="form-check-input" type="checkbox" id="13" name="feature"
                                        value="estoque" disabled> <!--Refatorar-->
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    <br>