<%- contentFor('body') %>

    <div class="text-center">
        <h2>Monte seu Pacote</h2><br>
        <p>Selecione as funcionalidades ideais para o seu negócio <br>
            e conte com preços compatíveis com a sua necessidade.
        </p><br>
    </div>

    <div class="prices bg-light border rounded-3">

        <div class="row">
            <div class="col-md-11 enable">
                1. Lançamento de receitas e despesas
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="1" name="lancamento" value="lancamento">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 enable">
                2. Consulta e impressão de receitas e despesas
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="2" name="consulta" value="consulta">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 enable">
                3. Dashboard de balanço financeiro
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="3" name="dashboard" value="dashboard">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 enable">
                4. Personalização de formas de pagamento aceitas
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="4" name="pagamento" value="pagamento">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 enable">
                5. Simulação de parcelamento com taxas de juros
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="5" name="simulacao" value="simulacao">
            </div>
        </div>
        <hr>

        <div class="row enable">
            <div class="col-md-11">
                6. Configuração de reserva de caixa
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="6" name="reserva" value="reserva">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 enable">
                7. Permissões de acesso por usuário
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="7" name="permissoes" value="permissoes">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 enable">
                8. Auditoria de lançamentos, edições e exclusões
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="8" name="auditoria" value="auditoria">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 enable">
                9. Plataforma personalizada com a sua marca
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="9" name="marca" value="marca">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 disabled">
                10. Emissão de boletos - <span>Em breve</span>
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="10" name="boletos" value="boletos" disabled>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 disabled">
                11. Emissão de notas fiscais - <span>Em breve</span>
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="11" name="nf" value="nf" disabled>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 disabled">
                12. Central de cobranças - <span>Em breve</span>
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="12" name="cobrancas" value="cobrancas" disabled>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-11 disabled">
                13. Controle de estoque - <span>Em breve</span>
            </div>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" id="13" name="estoque" value="estoque" disabled>
            </div>
        </div>
     </div>

    <div class="value row">
        <div class="col-md-5 text-center"></div>
        <div class="col-md-3 text-center h6">Valor dos Serviços Selecionados:</div>
        <div class="col-md-2 text-center h5">R$ 55,00<hr></div>
        <div class="col-md-3 text-center"></div>
    </div>

    <div class="text-center">
        Fale conosco e saiba mais sobre como podemos ajudá-lo!
            <div class="mx-auto">
                <button class="btn col-2" type="button">Contratar</button>
            </div>
    </div>
    <br>

